
.btn {
	font-size: 1rem;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	border: 0;
	line-height: 1.4;
	padding: 0.5rem 2.3rem;
	background-color: $ikea-blue;
	justify-content: center;
	align-items: center;
	color: white;
	@include hover-lift;
	border-radius: 2rem;
}

.btn-taskCreator{
	margin: 0 auto;

}

.btn-sort {
	@include hover-lift;
	color: $ikea-blue;
	border-radius: 2rem;
	box-shadow: none;
	&:hover {
		box-shadow: none;
		color: $ikea-yellow;
	}
	label {
		cursor: pointer;
		height: 100%;
		padding: $space-x-small	;
		font-weight: $bold;
		font-size: 0.75rem;
		input[type='radio'] {
			display: none;
		}
	}
}
.icon-button {
	background-color: transparent;
	color: $ikea-blue;
	display: inline-flex;
	align-items: center;
	@include hover-lift;
	border: none;
	box-shadow: 0 0 0 0;
	cursor: pointer;
	.icon {
		margin-left: 0.3rem;
		height: 2.2rem;
		width: 2.2rem;
		filter: invert(15%) sepia(97%) saturate(2968%) hue-rotate(195deg)
			brightness(103%) contrast(100%);
	}
	.bin {
		height: 1.5rem;
		width: 1.5rem;
		filter: invert(15%) sepia(97%) saturate(28%) hue-rotate(195deg)
			brightness(203%) contrast(100%);
		&:hover {
			filter: invert(15%) sepia(97%) saturate(2968%) hue-rotate(195deg)
				brightness(103%) contrast(100%);
		}
	}
}
