
.sorter {
	display: grid;
	height: 100%;
	column-gap: $space-small;
	grid-template-areas:
	"title byName byPrice";
	font-size: $small-font-size;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	align-items: baseline;
	.sort-label {
		grid-area: title;
		color: $primary;
		font-weight: 500;
	}
	.byName label{
		grid-area: byName;
		font-size: 1.5rem;
		font-weight: 500;
	}
	.byPrice label{
		grid-area: byPrice;
		font-size: 1.5rem;
		vertical-align: center;
		margin: auto 0;
		font-weight: 500;


	}

}
