.task {
	display: grid;
	margin: auto 0;
	background-color: $white;
	grid-template-columns: min-content 1fr;
	font-size: 0.75rem;
	opacity: 1;
	width: 100%;
	transition: opacity 0.8s, max-height 0s;
	padding: 0.7rem $space-medium;
	border-bottom: 1px solid $primary-light;
	border-radius: $space-small;
	justify-content: center;
	align-items: center;
	justify-items: center;
	grid-template-areas:
		"checkbox details";
}

.checkbox-label {
	grid-area: checkbox;
	cursor: pointer;
	height: 2rem;
	width: 2rem;
	input[type='checkbox'] {
		appearance: none;
		transition: box-shadow .3s;
		position: absolute;
		cursor: cell;
		height: 2rem;
		width: 2rem;
	}
	.checkmark{
		width: 100%;
		height: 100%;
		background-color: $white;
		border-radius: 50%;
		border: 1px solid $primary-light;
		&.checked{
			background-color: $primary-light;
			background-image: url("/src/assets/images/checkmark.svg");
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}


.task-details {
	overflow-wrap: break-word;
	margin: auto;
	padding: 0 0.7rem;
	display: block;
	grid-area: details;

.name {
	color: $black;
	font-size: $default-font-size;
	line-height: 1.5;
	font-weight: 500;
	display: block;
	padding: 0.5rem;
	text-align: center;
}

.price {
	font-size: 1rem;
	line-height: 1;
	color: $primary-light;
	display: block;
	padding: 0.5rem;
	text-align: center;
}}

.bin-wrapper {
	grid-area: optionals;
	text-align: center;
	display: inline-block;
}

