.task {
	display: grid;
	margin: auto 0;
	background-color: $white;
	grid-template-columns: min-content 1fr;
	font-size: 0.75rem;
	opacity: 1;
	width: 100%;
	transition: opacity 0.8s, max-height 0s;
	padding: 0.7rem $space-medium;
	border-bottom: 1px solid $primary-light;
	border-radius: $space-small;
	justify-content: center;
	align-items: center;
	justify-items: center;
	grid-template-areas:
		"checkbox details";
}
.checkbox-wrapper {
	grid-area: checkbox;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	transition: all 150ms;
	vertical-align: middle;
	label {
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		width: 1.75rem;
		height: 1.75rem;
		border: 1px solid $primary;
		background-color: $light;
		opacity: 0.7;
		z-index: 100;

		&:after {
			border-radius: 50%;
			border: 1px solid $primary-light;
			border-top: none;
			border-right: none;
			content: "";
			position: absolute;
			transform: rotate(-45deg);
			opacity: 1;
		}
	}

	input[type='checkbox'] {
		appearance: none;
		//filter: invert(53%) sepia(43%) saturate(904%) hue-rotate(212deg) brightness(140%) contrast(86%);
		transition: box-shadow .3s;
		border: 2px solid $primary-light;
		border-radius: 50%;
		cursor:pointer;
		overflow: hidden;
		position: absolute;
		//width: 1.75rem;
		//height: 1.75rem;
		margin: -1px -14px;
		background-color: transparent;

	}
	input[type='checkbox'] :checked {
		box-shadow: inset 0 0 0 20px white;

	}
	input[type='checkbox'] :checked, label:after {
		opacity: 1;
	}
}


.task-details {
	overflow-wrap: break-word;
	margin: auto;
	padding: 0 0.7rem;
	display: block;
	grid-area: details;

.name {
	color: $black;
	font-size: $default-font-size;
	line-height: 1.5;
	font-weight: 500;
	display: block;
	padding: 0.5rem;
	text-align: center;
}

.price {
	font-size: 1rem;
	line-height: 1;
	color: $primary-light;
	display: block;
	padding: 0.5rem;
	text-align: center;
}}

.bin-wrapper {
	grid-area: optionals;
	text-align: center;
	display: inline-block;
}

