@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* MEDIA QUERY BREAKPOINTS
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.


*/
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.56rem;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.375rem;
}

p {
  font-size: 1rem;
  line-height: 1.375rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

article,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
}
@media only screen and (max-width: 48em) {
  body {
    padding: 0;
  }
}

section {
  padding: 2rem 0;
}
@media only screen and (max-width: 48em) {
  section {
    padding: 1rem 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: grid;
  grid: auto-flow min-content/1fr;
  background-color: #F7FAFE;
  grid-gap: 1rem;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header" "welcome" "listScreen" "footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.welcome {
  grid-area: welcome;
  justify-self: center;
}

.header {
  line-height: 1.3;
  width: 100%;
  background-color: #c5bef3;
  margin-bottom: 1.5rem 0;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: 3333;
  display: block;
}
.header .title {
  margin: 1rem auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.header h2 {
  font-size: 1.6rem;
  padding: 0.3rem 2rem;
  text-align: center;
  color: #fff;
  justify-items: center;
  text-transform: uppercase;
}
.header .h2-2 {
  text-transform: uppercase;
}

.welcome {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  line-height: 1.5;
  max-width: 38rem;
  margin: 2rem 0;
}
.welcome .welcome-wrapper {
  max-width: 90%;
  padding: 1rem 0;
}
.welcome img {
  object-fit: cover;
  max-height: 22rem;
  height: 100%;
  width: 7rem;
  padding: 1rem 0;
}
.welcome h3 {
  font-size: 1rem;
  padding: 0.5rem 3rem;
  text-align: center;
  color: #8883F0;
  font-weight: 500;
  text-transform: uppercase;
}
.welcome h4 {
  font-weight: 300;
  padding: 0.5rem 3rem;
  text-justify: distribute-all-lines;
  text-indent: 1.5rem;
  text-align: justify;
  color: gray;
}

.btn {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  border: 0;
  line-height: 1.4;
  padding: 0.5rem 2.3rem;
  background-color: #8883F0;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  position: relative;
  border-radius: 2rem;
  box-shadow: none;
}
.btn::after {
  content: "";
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.btn:hover, .btn:focus {
  transform: scale(1.1);
}
.btn:hover::after, .btn:focus::after {
  opacity: 1;
}

.secondary {
  background-color: transparent;
  color: #8883F0;
  box-shadow: none;
  border: 2px solid #c5bef3;
}

.btn-sort {
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  position: relative;
  color: #8883F0;
  border-radius: 2rem;
  box-shadow: none;
}
.btn-sort::after {
  content: "";
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.btn-sort:hover, .btn-sort:focus {
  transform: scale(1.1);
}
.btn-sort:hover::after, .btn-sort:focus::after {
  opacity: 1;
}
.btn-sort:hover {
  box-shadow: none;
  color: #00BA88;
}
.btn-sort label {
  cursor: pointer;
  height: 100%;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
}
.btn-sort label input[type=radio] {
  display: none;
}

.icon-button {
  background-color: transparent;
  color: #8883F0;
  display: inline-flex;
  align-items: center;
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  position: relative;
  border: none;
  box-shadow: 0 0 0 0;
  cursor: pointer;
}
.icon-button::after {
  content: "";
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.icon-button:hover, .icon-button:focus {
  transform: scale(1.1);
}
.icon-button:hover::after, .icon-button:focus::after {
  opacity: 1;
}
.icon-button .icon {
  margin-left: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
  filter: invert(53%) sepia(43%) saturate(2214%) hue-rotate(212deg) brightness(100%) contrast(89%);
}
.icon-button .bin {
  height: 1.5rem;
  width: 1.5rem;
}
.icon-button .bin:hover {
  filter: invert(15%) sepia(97%) saturate(2968%) hue-rotate(195deg) brightness(103%) contrast(100%);
}

.taskCreator {
  display: flex;
  flex-direction: column;
}

.taskCreator-form {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  justify-items: center;
  margin-top: 1.5rem;
}
.taskCreator-form .form {
  margin: 1rem auto;
  display: grid;
  row-gap: 1.5rem;
  grid-template-areas: "inputName" "inputPrice " "submit";
}
.taskCreator-form .alert {
  font-size: 0.7rem;
  padding: 0rem 1.3rem;
  margin-bottom: 0.3rem;
  color: #8883F0;
}
.taskCreator-form h2 {
  font-size: 1rem;
  color: #262B37;
  padding: 0.5rem 3rem;
  text-align: initial;
  font-weight: 300;
}
.taskCreator-form input {
  background-color: #fff;
  border: 2px solid #c5bef3;
  border-radius: 40em;
  outline: 0;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  color: #8883F0;
}
.taskCreator-form input:focus {
  background-color: #F7FAFE;
  border-color: #8883F0;
  color: #8883F0;
  transition: transform 350ms ease-in-out;
}
.taskCreator-form .btn-form {
  margin: 1rem;
  grid-area: submit;
  justify-self: center;
}
.taskCreator-form label {
  color: gray;
  font-weight: 500;
  font-size: 1rem;
  display: inline-flex;
  flex-direction: column;
}
.taskCreator-form label .input-name {
  grid-area: inputName;
}
.taskCreator-form label .input-price {
  grid-area: inputPrice;
}

.sorter {
  display: grid;
  height: 100%;
  column-gap: 1.5rem;
  grid-template-areas: "title byName byPrice";
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
.sorter .sort-label {
  grid-area: title;
  color: #8883F0;
  font-weight: 500;
}
.sorter .byName label {
  grid-area: byName;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
}
.sorter .byPrice label {
  grid-area: byPrice;
  font-size: 1rem;
  vertical-align: center;
  margin: auto 0;
  font-weight: 500;
  text-align: center;
  padding: 0;
}

.list-screen {
  width: 90%;
  justify-content: center;
  justify-items: center;
  margin: 1.5rem auto;
  grid-area: listScreen;
  display: grid;
  row-gap: 1.5rem;
  grid-template-areas: "image" "text" "taskCreator" "sorter" "pendingList" "buttonToggleList" "checkedOffList";
}
.list-screen .text-box {
  grid-area: text;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
.list-screen .text-box h3 {
  font-weight: 500;
  color: #8883F0;
  font-size: 1.6rem;
}
.list-screen .text-box p {
  color: gray;
}
.list-screen .hero-media {
  object-fit: cover;
  max-height: 22rem;
  height: 100%;
  width: 7rem;
  grid-area: image;
  padding: 1rem 0;
}
.list-screen .taskCreator {
  grid-area: taskCreator;
}
.list-screen .sorter {
  grid-area: sorter;
}
.list-screen .pending-list {
  grid-area: pendingList;
}
.list-screen .toggle {
  grid-area: buttonToggleList;
  margin: 0 auto;
}
.list-screen .checked-off-list {
  grid-area: checkedOffList;
}
.list-screen .taskList {
  row-gap: 1.5rem;
  display: grid;
}
.list-screen .pending-list {
  margin: 0 auto;
  width: 80%;
}
.list-screen .checked-off-list {
  margin: 0 auto;
  width: 80%;
}
.list-screen .checked-off-list .task {
  border-bottom: 1px solid #F7FAFE;
}
.list-screen .checked-off-list .task .name, .list-screen .checked-off-list .task .price {
  color: gray;
}
.list-screen .checked-off-list .task .name {
  text-decoration: line-through;
}

.task {
  display: grid;
  margin: auto 0;
  background-color: #fff;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  opacity: 1;
  width: 100%;
  transition: opacity 0.8s, max-height 0s;
  padding: 1rem;
  border-bottom: 1px solid #c5bef3;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  grid-template-areas: "checkbox details";
}

.checkbox-label {
  grid-area: checkbox;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}
.checkbox-label input[type=checkbox] {
  appearance: none;
  transition: box-shadow 0.3s;
  cursor: pointer;
  position: absolute;
  height: 2rem;
  width: 2rem;
}
.checkbox-label .checkmark {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #c5bef3;
}
.checkbox-label .checkmark.checked {
  background-color: #c5bef3;
  background-image: url("/src/assets/images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.task-details {
  overflow-wrap: break-word;
  display: block;
  grid-area: details;
  padding: 0;
}
.task-details .name {
  font-size: 1.2rem;
  color: #262B37;
  line-height: 1.3;
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: left;
}
.task-details .notes {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #c5bef3;
  display: block;
  padding-top: 0.5rem;
  width: 100%;
  text-align: left;
}

.bin-wrapper {
  grid-area: optionals;
  text-align: center;
  display: inline-block;
}

footer {
  font-weight: normal;
  color: #c5bef3;
  margin-top: 2rem;
  bottom: 0;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin: 0.5rem;
  cursor: pointer;
  width: 1.8rem;
  height: auto;
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  position: relative;
  box-shadow: none;
}
footer img::after {
  content: "";
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
footer img:hover, footer img:focus {
  transform: scale(1.1);
}
footer img:hover::after, footer img:focus::after {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
