@import '../_abstracts/_variables';
@import '../_abstracts/_mixins';

.sorter-controls {
	display: flex;
	align-items: center;
	font-size: $small-font-size;
	padding: 0;

	h4 {
		font-weight: bold;
		margin: 0 0.8rem;
		color: $ikea-blue;
	}
	.btn-sort {
		margin: 0 0.8rem;
	}
}
