@font-face {
	font-family: 'Noto Sans';
	src: '../../assets/fonts/NotoSans-Regular.ttf';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans bold';
	src: '../../assets/fonts/NotoSans-Bold.ttf';
	font-weight: bold;
	font-style: normal;
}
