//FONTS

$default-font-size: 1.6rem;
$big-font-size: 3rem;
$small-font-size: 1rem;
$tiny-font-size: 0.7rem;
$bold: 700;

//COLORS
$primary: #8883F0;
$secondary: #00BA88;
$white: #fff;
$black: #262B37;
$light: #F7FAFE;
$primary-light: #c5bef3;

//SPACE VARIABLES
$space-x-small: .5rem;
$space-small: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;
$space-x-large: 4rem;

  // Media queries
$media-phablet: 400px;
$media-tablet: 550px;
$media-desktop: 1000px;
$media-ultra-wide: 2000px;
