//FONTS

$default-font-size: 1.6rem;
$big-font-size: 3rem;
$small-font-size: 1rem;
$tiny-font-size: 0.7rem;
$bold: 700;

//COLORS
$ikea-blue: #0058a3;
$ikea-yellow: #efce15;
$white: #fff;
$black: #111;
$light-gray: #ccc;
$dark-gray: #484848;
$neutral-gray: rgb(245, 245, 245);
